<div class="result-form">
  <% if flights %>
    <%= form_with url: new_booking_path, method: "get" do |f| %>
      <table>
        <thead>
          <tr>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Date</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <% flights.each do |flight| %>
          <tr>
            <td><%= flight.departure_airport.code %></td>
            <td><%= flight.arrival_airport.code %></td>
            <td><%= flight.start %></td>
            <td><%= flight.formatted_duration %></td>
            <td><%= f.radio_button :id, flight.id %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= f.hidden_field :nb_passenger, value: @nb_passenger %>
      <div class="result-submit">
        <%= f.submit('Select') %>
      </div>
    <% end %>
  <% end %>
</div>