<div class="search-form">
  <%= form_with model: flight, url: flights_path, method: "get" do |f| %>
    <div class="search-dropdown">
      <%= f.collection_select(:departure_airport_id, Airport.all.order(:name), :id, :name, include_blank: 'Select departure airport') %>
      <%= f.collection_select(:arrival_airport_id, Airport.all.order(:name), :id, :name, include_blank: 'Select arrival airport') %>
      <%= f.collection_select(:start, Flight.all.order(:start).collect { |f| f.start.to_date }.uniq, :to_s, :to_date, include_blank: 'Date') %>
      <%= f.select('nb_passenger', (1..4), include_blank: 'Number of passengers') %>
    </div>
    <br>
    <div class="search-submit">
      <%= f.submit('Search') %>
    </div>
  <% end %>
</div>