<h1>Search for a flight</h1>

<div class="search-form">
  <%= form_with(model: @flight, method: "get") do |f| %>
    <div class="search-dropdown">
      <%= f.collection_select(:departure_airport_id, Airport.all.order(:name), :id, :name, include_blank: 'Select departure airport') %>
      <%= f.collection_select(:arrival_airport_id, Airport.all.order(:name), :id, :name, include_blank: 'Select arrival airport') %>
      <%= f.collection_select(:start, Flight.select(:start).distinct.order(:start), :start, :start, include_blank: 'Date') %>
      <%= f.select('nb_passenger', (1..4), include_blank: 'Number of passengers') %>
    </div>
    <br>
    <div class="search-submit">
      <%= f.submit('Search') %>
    </div>
  <% end %>
</div>

<br><br>

<div class="search-result">
  <% if @flights %>
    <table>
      <thead>
        <tr>
          <th>Departure</th>
          <th>Arrival</th>
          <th>Date</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <% @flights.each do |flight| %>
        <tr>
          <td><%= flight.departure_airport.code %></td>
          <td><%= flight.arrival_airport.code %></td>
          <td><%= flight.start %></td>
          <td><%= flight.formatted_duration %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

